
.board__page__wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.board__page {

  display: flex;
  flex-flow: row wrap;

  .cell {
    width: 9vmax;
    height: 9vmax;
    margin: 1vmax;
    border: #e0e0e0 1px solid;
    box-shadow: 10px 10px 5px #aaaaaa;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .material-icons {
    font-size: 5vmax;
  }
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 60vmax;
  transform-style: preserve-3d;
  opacity: 1;
  color: black;
      transition: opacity .6s !important;
      transition: color .6s !important;
}
	/* flip the pane when hovered */
	.flip-container.flipped .flipper,
  .flip-container.isMatched .flipper
  {
		transform: rotateY(180deg);
	}
  .flip-container.isMatched {
    opacity: 0.20;
    color: green;
  }

.flip-container, .front, .back {
  width: 9vmax;
  height: 9vmax;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;


      text-align: initial;
      width: 9vmax;
      height: 9vmax;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
  width: 9vmax;
  height: 9vmax;
}

.front, .back {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.front {
  font-size: 2em;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.cell {

  margin: 1vmax;
  border: #e0e0e0 1px solid;
  box-shadow: 10px 10px 5px #aaaaaa;

  .deactivated {
    opacity: .2;
  }

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.material-icons {
  font-size: 5vmax;
}

.title {
  opacity: 0.8
}

.successMessage {
  opacity: 0;
  transform: opacity 0.6s;
  color: green;
}

.winner .successMessage{
  opacity: .8;
}
