.page-layout__viewport {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  height: 100%;

}
